.container{
    width: 100%;
    height: calc(100vh - 105px);
}

.wrapper > h2{
    text-align: center;
    margin-top: 40px;
}

.wrapper > p{
    text-align: center;
    margin-top: 20px;
    color: #666;
    font-size: 18px;
}