.container{
    width: 100%;
    height: 100px;
    margin-bottom: 50px;
    margin-top: 200px;
}

.wrapper{
   width: 75%;
   height: 100%;
   margin: 0 auto;  
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.column{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.column > span{
    color: #666;
    font-size: 17px;
}

.column > p{
    color: #666;
    font-size: 17px;
}

.aboutParagraph{
    max-width: 500px;
}

.column:last-child{
    align-items: flex-end;
}

.column:last-child > h2{
    margin-right: 15px;
}

.column:last-child > .icons{
    display: flex;
    gap: 10px;
}

.icons{
    font-size: 30px;
}