.container {
  width: 100%;
  height: calc(100vh - 265px);
  margin-top: 150px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 35px;
}

form > input {
  outline: none;
  border: none;
  padding-left: 8px;
  border-bottom: 1px solid #888;
  height: 45px;
  width: 300px;
  font-size: 18px;
}

form > input:focus {
  border-color: #333;
}

.submitBtn {
  width: 75%;
  margin: 0 auto;
  margin-top: 30px;
  outline: none;
  font-size: 18px;
  border: 1px solid transparent;
  background-color: rgb(73, 73, 224);
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 20px;
  cursor: pointer;
}

.submitBtn:hover {
  background-color: #fff;
  color: rgb(73, 73, 224);
  border-color: rgb(73, 73, 224);
}

.errorMsg{
    height: 70px;
    width: 250px;
    text-align: center;
    border-radius: 20px;
    line-height: 1.5rem;
    padding: 0.75rem 1.5rem;
    background-color: #f00;
    color: #fff;
    position: absolute;
    top: 3rem;
    right: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
