.container{
    padding: 0.5rem 1rem;
    height: 75px;
    width: 100%;
    border-bottom: 1px solid rgb(158, 138, 138);
}

.wrapper{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
} 

.title{
    margin: 0;
    padding: 0;
}

.wrapper > a{
    text-decoration: none;
    color: inherit;
    font-size: 18px;
}

.right{
    display: flex;
    align-items: center;
    gap: 20px;
}

.right > *{
    cursor: pointer;
}

.right a{
    text-decoration: none;
    color: inherit;
}

.username{
    text-transform: capitalize;
    cursor: default;
}

.logoutBtn:hover{
   color: #666;
   transition: 150ms all;
}

.cartContainer{
    position: relative;
    font-size: 18px;
}

.cartNumber{
    position: absolute;
    right: -0.75rem;
    top: -0.75rem;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(58, 58, 224);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}